#logo {
  max-height: 43px;
  margin-right: 16px;
  margin-top: -3px;
}

#navbar {
  background-color: rgb(255,255,255);
  margin-top: 50px;
}

#header {
  background-color: rgb(65,190,207);
}

#header {
  background-color: rgb(70,187,205);
}

#icon {
  max-height: 100px;
  margin-left: 5px;
  color: white;
}
#iconThumb {
    font-size: 30px;
  }

#headerText {
  margin-top: 5px;
  margin-left: 4px;
  color: white;
}

#navbarTxt {
  color: rgb(70,187,205);
}

.bg-secondary {
  background-color: #46bbcd!important;
}

a {
  color: #46bbcd;
  text-decoration: none;
  background-color: transparent;
}

#homeJumbo {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
  padding: 40px;
}

#login {
  margin-right: 5px;
  color: rgb(255,255,255);
  background-color: rgb(70,187,205);
}

#register {
  color: rgb(255,255,255);
  background-color: rgb(21,162,184);
}

.footer-basic {
    padding: 40px 0;
    background-color: rgba(255,255,255,0);
    color: #4b4c4d;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
